:root{
    --main-color: rgb(0, 204, 255);
}
html{
    scroll-behavior:smooth;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    color: rgba(128, 128, 128, 0.438);
    letter-spacing: -8px;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
/*landing*/
.sticky-bar{
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0px;
}
.bar{
    display: flex;
    justify-content:space-between;
    justify-items: center;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
}
#icon{
    display: flex;
    font-size: 35px;
    position: relative;
    left: 50px;
    top: 4px;
}
.navigation{
    margin-right:90px ;
}
.nav-icon {
   width: 30px;
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   position: relative;
   left: 20px;
   top: 10px;
}
.nav-icon span{
    background-color: black;
    margin-top: 5px;
    height: 2px;
}
.nav-icon:hover span:nth-child(2){
    width: 100%;
}
.nav-icon span:first-child{
    width: 100%;
}
.nav-icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
.nav-icon span:nth-child(3){
    width: 100%;
}
.nav-icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.171);
    position: relative;
    top: 0;
    min-width: 149px;
    display: none;
    z-index: 1;

}
.nav-icon:hover ul{
    display: block;
}
.nav-icon li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    border-radius: 10px;
}
.nav-icon li a:hover{
    padding-left: 25px;
}
.nav-icon li:not(:nth-child(6)) a{
    border: 1px solid black;
}
.background-bar2{
    background-image: url(Images/back1.jpg);
    background-size: cover;
    height: calc(100vh);
    border-radius: 50px;
}
.bar2{
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
#title{
    font-family: fantasy;
    font-size: 3rem;
    color: var(--main-color);
}
#par{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
}
/*end of landing*/
.features{
    background-color: rgba(223, 223, 223, 0.527);
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.feat{
    padding: 20px;
    text-align: center;
}
.feat i{
    font-size: 35px;
    color: var(--main-color);
}
.feat h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 30px 0;
}
.feat p{
    color: rgb(65, 65, 65);
    line-height: 1.6;
}
/*about*/
.about-container{
    display: flex;
}
.about-container h2{
    text-align: center;
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
}
.about-container p{
    text-align: center;
    line-height: 1.5rem;
    font-weight: 600;
    padding: 0 30px;
}
#img1{
   border-radius: 25px;
   box-shadow: 5px 5px 5px black;
   width: 90%;
}
.hobbies-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    padding-top: 50px;
}
.hobb{
    padding: 20px;
    text-align: center;
}
.hobb i{
    font-size: 35px;
    color: var(--main-color);
}
.hobb h3{
    font-size: 2rem;
    font-weight: 800;
    margin: 30px 0;
}
.hobb p{
    color: rgb(65, 65, 65);
    line-height: 1.6;
}
/*end about*/
/*projects*/
.projects-box{
    background-color: rgba(223, 223, 223, 0.527);
    padding-top: 0px;
    padding-bottom: 60px;
    height: 630px;
}
.projects-container{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.project:hover{
    position: relative;
    top: 5px;
    left: 5px;
}
.project{
    text-align: center;
    background-color: white;
    height: 300px;
    transition: 0.3s;
    cursor: pointer;
}
.project img{
    margin-bottom: 35px;
}
.project h3{
    color: var(--main-color);
    font-size: 1.5rem;
}
.project p{
    color: rgb(65, 65, 65);
    line-height: 1.6;
}
/*end projects*/
/*skills*/
.skills-box{
    margin-top: 50px;
    height: 630px;
}
.list-main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--main-color);
    margin: 10px 0 10px 0;
}
.list-sub{
    line-height: 1.2rem;
}
.gray-prog-bar{
    background-color: rgba(128, 128, 128, 0.438);
    border-radius: 10px;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, 0.24);
}
.prog-bar1{
    background-color: var(--main-color);
    text-align: center;
    width: 90%;
    border-radius: 10px;

}
.prog-bar2{
    background-color: var(--main-color);
    text-align: center;
    width: 100%;
    border-radius: 10px;
}
.prog-bar3{
    background-color: var(--main-color);
    text-align: center;
    width: 75%;
    border-radius: 10px;
}
.prog-bar4{
    background-color: var(--main-color);
    text-align: center;
    width: 94%;
    border-radius: 10px;
}
.prog-bar5{
    background-color: var(--main-color);
    text-align: center;
    width: 50%;
    border-radius: 10px;
}
.prog-bar6{
    background-color: var(--main-color);
    text-align: center;
    width: 30%;
    border-radius: 10px;
}
.prog-bar7{
    background-color: var(--main-color);
    text-align: center;
    width: 80%;
    border-radius: 10px;
}
.prog-bar8{
    background-color: var(--main-color);
    text-align: center;
    width: 55%;
    border-radius: 10px;
}
.prog-bar9{
    background-color: var(--main-color);
    text-align: center;
    width: 75%;
    border-radius: 10px;
}
/*end skills*/
/*contact*/
.contact-box{
    background-color: rgba(223, 223, 223, 0.527);
    padding-bottom: 60px;
    height: 250px;
}
.contact-container{
    margin-top: 50px;
    text-align: center;
}
.mail{
    font-size: 2rem;
    color: #2c4755;
    font-weight: 900;
    padding: 0 0 10px 0;
}
.contact-container a{
    font-size: 2rem;
    color: var(--main-color);
    font-weight: 900;
    text-decoration: none;
    padding: 10px;
}
.social{
    padding: 10px;
    color: #2c4755;
}
/*end contact*/
/*footer*/
.footer-box{
    background-color: #2c4755;
    padding: 10px;
    text-align: center;
    color: white;
}
.footer-box span{
    color: var(--main-color);

}

/*end footer*/
